@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<style>
    body {
        margin: 20px;
        text-align: center;
    }
</style>
<header>
    <h1 style="color=white!important;">Adoption Information</h1>
</header>

<section>
    <h2>Why Adopt?</h2>
    <p>
        Adopting a pet not only changes their life but also enriches yours, bringing immeasurable joy, companionship, and unconditional love into your home. 
        By choosing adoption, you're not just adding a furry friend to your family; you're giving a deserving animal a second chance at happiness.
    </p>
</section>

<section class="contact-section">
    <h2>Contact Us for Adoption</h2>
    <p>
        If you have any questions or would like to apply for adoption, please feel free to contact us using the email below. Or call us using the number below.
    </p>

    <p class="email"><strong>Email:</strong> <a href="adopt@adoptpetstoadoptapet.com">adopt@adoptpetstoadoptapet.com</a></p>
    <p class="phone"><strong>Phone Number</strong> (xxx) xxx-xxxx</p>
</section>

<section>
    <h2>Visit Our Store</h2>
    <p>
        You can also visit our store in person to learn more about the adoption process.
        Our staff will be happy to assist you and introduce you to the wonderful animals waiting for their forever homes.
    </p>
    <p>
        Pet Adoption<br>
        1111 Road Road <br>
        City, State ZipCode
    </p>
</section>
